* {
  box-sizing: border-box;
  font-family: arial;
}

body{
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  margin:0;
}

.navigation-col{
  background: lightgreen;
  flex: 1;
}

.header-col{
  display: flex;
  flex-direction: column;
  flex: 5;
}

.content {
  display:flex;
  flex-direction: row;
}

.content > article{
  flex: 3;
  min-height: 60vh;
}

.content > aside {
  background: beige;
  flex: 1;
}

header, footer {
  background: yellowgreen;
  height: 20vh;
}

header,footer,article,nav,aside{
  padding: 1em;
}
